gpt.mylx.love {
	reverse_proxy /v1/* https://api.openai.com {
		header_up Host api.openai.com
		header_up Authorization "{http.request.header.Authorization}"
		header_up Authorization "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"
	}

	file_server / {
		root /var/wwwroot/chatgpt-web
		index index.html
	}
}
